@import url('@picocss/pico');
@import url('./variables.scss');
@import url('./details.scss');
@import url('./settings.scss');
@import url('./overlay.scss');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

body {
  background: #0b0b0b;
  background-size: cover;

  display: flex;
  flex-direction: column;

  #root {
    height: 100%;
  }
}

dialog {
  form {
    margin-bottom: 0;
  }

  button {
    width: 5rem;
  }
}

code {
  border: 1px solid var(--card-border-color);
}
