// Specificity-hack!
:root:root {
  --base-background: #2b3e62;
  --base-background-2: color-mix(in srgb, #000 85%, var(--base-background));
  --base-background-animation-speed: 120s;
  --base-effect-inactive-blur: 0.125rem;
  --base-effect-inactive-opacity: 0.4;

  --pico-color: white;

  --pico-primary: rgba(199, 60, 18, 0.75);
  --pico-primary-background: var(--pico-primary);
  --pico-primary-hover-background: #f4511e;
  --pico-primary-hover-border: #963213;
  --pico-primary-focus: rgba(180, 53, 14, 0.25);
  --pico-primary-inverse: #fff;

  --pico-card-background-color: rgba(0, 0, 0, 0.667);
  --pico-card-border-color: rgb(27, 27, 27);

  --pico-form-element-focus-color: var(--pico-primary);

  --pico-form-element-spacing-vertical: 0.5rem;
  --pico-form-element-spacing-horizontal: 0.5rem;
  --pico-form-element-background-color: color-mix(in srgb, #000 50%, var(--pico-primary-focus));
  --pico-form-element-border-color: color-mix(in srgb, #000 50%, var(--pico-primary));

  --pico-form-element-invalid-border-color: rgba(244, 187, 30, 0.788);
  --pico-form-element-invalid-focus-color: color-mix(in srgb, #000 20%, var(--pico-form-element-invalid-border-color));
  --pico-form-element-invalid-active-border-color: white;

  --description-background-color: color-mix(in srgb, #000 60%, var(--base-background));
}

@property --base-background-percent-x {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 20%;
}

@property --base-background-percent-y {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 20%;
}
