// Specificity-hack!
:root:root {
  // Core color needs better naming convention
  --color: white;

  --primary: #f4511e;
  --primary-hover: #ff5722;
  --primary-focus: rgba(244, 81, 30, 0.25);
  --primary-inverse: #fff;

  --card-background-color: rgba(0, 0, 0, 0.667);
  --card-border-color: rgba(255, 255, 255, 0.3);

  --form-element-focus-color: var(--primary);

  --form-element-spacing-vertical: 0.5rem;
  --form-element-spacing-horizontal: 0.5rem;
  --form-element-background-color: color-mix(in srgb, #000 50%, var(--primary-focus));
  --form-element-border-color: color-mix(in srgb, #000 50%, var(--primary));

  --form-element-invalid-border-color: rgba(244, 187, 30, 0.788);
  --form-element-invalid-focus-color: color-mix(in srgb, #000 20%, var(--form-element-invalid-border-color));
  --form-element-invalid-active-border-color: white;
}
